# Java
*.class

# C and Cpp
*.o
a.out

# ANTLR4
*.tokens
*.interp

# build directory
build/

# LLVM
*.bc
*.ll

# CLion
.idea/
cmake-build-debug

# Vim
*.swp

# Lcov
gen/

html/
latex/
xml/
*.info

# reports
coverage.out/

# Post-build files
corretto.key
llvm.sh
kitware-archive.sh

# VSCode
.vscode/
tipg4/.antlr/       #antlr extension
src/frontend/.antlr #antlr extension

# Testing
tipg4/hellosip.tip
tipg4/test.sip
tipg4/prog.sip
ASTNodeTest.cpp
test/unit/frontend/SIPNodeTest-flawed.cpp
test.tipc
test.cpp
bin/test.tip
opt_tests/error_msg.txt
